<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/jquery-1.11.3.js"></script>
</head>
<body>
   <h2>注册用户</h2>
   <form action="">
       <ul>
           <li>
               用户名：<input type="text" name="username" id="user"><span id="msg"></span>
           </li>
           <li>
               密码：<input type="password" name="pwd">
           </li>
           <li>
               确认密码：<input type="password" name="repwd">
           </li>
           <li>
               <input type="submit" value="注册">
           </li>
       </ul>
   </form>
   <script>
       $(function (){
           $("#user").blur(function (){
                let username = $(this).val();
                $.ajax({
                    url:"/check",
                    type:"post",
                    data:{username},
                    dataType:"Json",
                    success(res){
                        $("#msg").html(res.msg)
                    },
                    error(err){
                        console.log(err)
                    }
                })
           })
       })
   </script>
</body>
</html>









