.app{
  display:flex;
  flex-direction: column;
  height: 100%;
  .header{
    width: 100%;
    height: 0.45rem;
    font-size: 0.18864rem;
    background-color: #00b38a;
    color: #ffffff;
    text-align: center;
    line-height: 0.45rem;
  }
  .main{
    flex:1;
  }
  .nav{
    height: 0.45rem;
    line-height: 0.45rem;
    background-color: #f6f6f6;
    font-size: 0.16768rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e8e8e8;
    left: 0;
    z-index: 999;
    ul{
      display: flex;
      list-style: none;
      justify-content: center;
      align-items: center;
      li{
        flex: 1;
        font-size: 0.16768rem;
        text-align: center;
        line-height: 0.45rem;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
          width: 0.18rem;
          height: 0.18rem;
          color: yellow;
        }
        &.active{
          color: #00b38a;
          background-color: #e7f3f0;
        }
      }
    }
  }

}