


.custom{
  display: flex;
  padding: 0.14rem;
  align-items: center;
  span{
      flex: 1;
      color: #555;
  }
  button{
      width: 0.84rem;
      height: 0.3rem;
      color:  #00b38a;
      background-color: #f5f5f5;
      border-radius: 0.15rem;
      border: none;
  }
}

.position-list{
  .item{
      display: flex;
      padding: 0.14rem;
      border-top: 1px solid #e8e8e8;
      img{
          width: 0.6rem;
          height: 0.6rem;
      }
      .desc{
          flex: 1;
          h2{
              font-size: 0.16rem;
          }
          .pos{
              display: flex;
              justify-content: space-between;
              // .name{
              // }
              .salary{
                  color: #00b38a;
                  font-size: 0.167rem;
                  font-weight: 400;
              }
          }
      }
  }
}






















