<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册用户</title>
    <script src="/jquery-1.11.3.js"></script>

</head>
<body>
    <h1>注册用户</h1>
    <form action="">
        <ul>
            <li>
                用户名：<input type="text" name="username" id="user"><span id="msg"></span>
            </li>
            <li>
                密码：<input type="password" name="username" id="pwd">
            </li>
            <li>
                确认密码：<input type="password" name="username" id="repwd">
            </li>
            <li>
                <input type="submit" value="注册">
            </li>
        </ul>
    </form>

    <script>
        $(function (){
            $("#user").blur(function (){
                let username = $(this).val();
                $.get("/check",{username},res=>{
                    $("#msg").html(res.msg);
                })
            })
        })
    </script>
</body>
</html>