<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>贴吧</title>
</head>
<body>
<h1>贴吧模板</h1>
<form action="http://localhost:3000/dotz" method="post">
    <ul>
        <li>帖子：<textarea name="content"></textarea></li>
        <li>由<input type="text" name="author">发表</li>
        <li><input type="submit" value="发表"></li>
    </ul>
</form>
</body>
</html>