<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册模板</title>
</head>
<body>
<h1>注册模板</h1>

<form action="http://localhost:3000/doreg" method="get">
    <ul>
        <li>用户名：<input type="text" name="username"></li>
        <li>密码：<input type="password" name="pwd"></li>
        <li><input type="submit" value="注册"></li>
    </ul>
</form>
</body>
</html>